<div class="page">
  <div class="modal" *ngIf="showModal">
    <button class="closeTag" (click)="closeForm()">X</button>
    <app-userFormAdd [user]="user" [typeForm]="typeForm"></app-userFormAdd>
  </div>
  <button (click)="addNewuser()" class="btn-primary">Dodaj Użytkownika</button>
  <div class="clientlist">
    <div class="loader" *ngIf="isLoading">

    </div>
    <table>
      <tr>
        <th>Użytkownik</th>
        <th>Email</th>
        <th>Rola</th>

      </tr>
      
      <!-- <tr *ngFor="let client of clients; let i=index">
        <td>{{client.name}} </td>
        <td>{{client.lastname}} </td>
        <td>{{client.number}} </td>
        <td>{{client.email}} </td>
        <td>{{client.nip}} </td>

        <td class="actionBox">
          <button class="btn-warning" (click)="removeClient(client.id)" >
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>     
            
          </button>
          <button class="btn-action" (click)="modifyClient(i)">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>     
            
          </button>
          <button>3</button>
        </td>
      </tr> -->
     
      <tr *ngFor="let user of users; let i=index">
        <td>{{user.username}} </td>
        <td>{{user.email}} </td>
        <td>{{user.roles}} </td>


        <td class="actionBox">
          <button class="btn-warning" (click)="removeUser(i)" >
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close" ></mat-icon>     
            
          </button>
          <button class="btn-action" (click)="modifyUser(i)">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" ></mat-icon>     
            
          </button>
          <!-- <button>3</button> -->
        </td>
      </tr>
    </table>
  </div>
</div>
