<header>

</header>

<main>
  <nav *ngIf="isLogged()" class="navMain " id="nav">
    <div class="togglerNav " (click)="expandNav()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="double_arrow"></mat-icon>

    </div>

    <div class="logo">
      <img src="../assets/img/logo-white.png" alt="" class="img-fluid">
    </div>
    <ul>
      <li>
        
  
        <a routerLink="/" routerLinkActive="active" >
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="dashboard"></mat-icon>
          Kokpit
        </a>
      </li>
      <li><a routerLink="/naprawy" routerLinkActive="active" >
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="car_repair"></mat-icon>
        Naprawy
      </a></li>
      <li><a routerLink="/klienci" routerLinkActive="active" >
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="group"></mat-icon>
        
        Klienci</a></li>
      <li><a routerLink="/samochody" routerLinkActive="active" >
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="no_crash"></mat-icon>
        
        Samochody</a></li>
      <li><a routerLink="/faktury" routerLinkActive="active" >
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="task"></mat-icon>
        
        Faktury</a></li>
      <li><a routerLink="/raporty" routerLinkActive="active" >
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bar_chart"></mat-icon>
        
        Raporty</a></li>
      <li><a routerLink="/uzytkownicy" routerLinkActive="active" >
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups"></mat-icon>
        
        Użytkownicy</a></li>
      <li><a routerLink="/ustawienia" routerLinkActive="active" >
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
        
        Ustawienia</a></li>
  
      <li class="align-bottom" ><a href (click)="logout()" routerLinkActive="active">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
        
        Wyloguj się</a></li>
    </ul>
  </nav>

  <div class="main-body">
    <div class="userTopBar" *ngIf="isLogged()">
      <span>{{ title }}</span>
      <div class="userSpec">
        <a routerLink="/konto" routerLinkActive="active" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon></a>
        <a routerLink="/konto" routerLinkActive="active" routerLinkActive="active"><img src="../assets/img/user.png" alt="" class="profilePic"></a>
      </div>
    </div>
    <div class="router-outlet" >
    
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
<footer>


</footer>